<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bootic Docs - <%= @page.title if @page %></title>
  <meta name="description" content="<%= @page.description if @page %>" />
  <meta name="keywords" content="<%= @page.keywords if @page %>" />
  <meta name="google-site-verification" content="0Fy9SZrm2MpHjcGNMyAwNgi-0jmOPHN6R4ZOvzzLYfg" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/coderay.css" type="text/css" media="screen" charset="utf-8">
	<!-- Fancy box -->
	<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
	<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <div class="header">
      <div class="box">
        <div class="span-9">
          <a title="Portada Bootic" href="http://www.bootic.net">
            <img id="mini-logo" src="/img/mini-logo.png" width="57" height="24" alt="Bootic" >
          </a>
        </div>
        <div class="span-13 last z-main-nav">
            <ul class="main-nav clearfix">
                <li>
                  <a title="portada del wiki" href="http://wiki.bootic.net" tabindex="2">portada</a>
                </li>
                <li>
                  <a href="http://www.bootic.net/pages/planes" title="Planes y precios" tabindex="3">planes y precios</a>
                </li>
                <li class="current">
                  <a href="/" title="Documentación y preguntas frecuentes" tabindex="4">documentación</a>
                  </li>
                <li>
                  <a href="http://www.bootic.net/forms/contacto" title="Contacto" tabindex="5">contacto</a>
                </li>
                <li>
                  <!-- a class="icn-social icn-social-facebook" title="Facebook" href="#">Facebook</a-->
                  <a class="icn-social icn-social-twitter" title="Twitter" href="http://twitter.com/bootic">twitter</a>
                  <!-- a class="icn-social icn-social-vimeo" title="Vimeo" href="#">Vimeo</a-->
                </li>
            </ul> <!-- /main-nav -->
        </div> <!-- /z-main-nav -->
      </div><!-- /container -->
    </div><!-- /header -->
    
    <div id="main" class="box clearfix">

      <div id="sidebar">
        
        <% if menu %>
        <div class="section">
          <ul class="nested_menu">
            <li class="page depth_2">
              <a href="/">Preguntas frecuentes</a>
            </li>
            <% menu.each do |page| %>
              <%= build_menu page %>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div><!-- /sidebar -->

      <div id="content">
        <!-- lunr search -->
        <form id="search_form">
          <div class="b">
            <h3>Busca en la documentación de Bootic</h3>       
            <input type="text" placeholder="Busca una pregunta, palabra o tema" id="search" autocomplete="off" tabindex="1" />
          </div>
        </form>
        <div id="search_box">
          <strong>Resultados para &quot;<span class="term"></span>&quot;</strong>
          <ul id="results"></ul>
        </div>

        <!-- /search -->
        
        <div id="content_wrapper">
          <%= @content  %>
        </div>
        
        <div id="comments">
          <!-- Disqus comments -->
        	<div id="disqus_thread"></div>
          <script type="text/javascript">
              var disqus_shortname = 'booticwiki';
              var disqus_identifier = '<%= current_url %>';
              var disqus_url = '<%= current_url %>';
              <% if development? %>
              var disqus_developer = 1;
              <% end %>
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        	<!-- /Disqus -->
        </div>
      </div><!-- /content -->

    </div><!-- /main -->

  </div><!-- /wrapper -->

  <div id="footer">
    &copy;Bootic <%= Time.now.year %>
  </div><!-- /footer -->

  <!-- Fancy box -->
	<script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript" src="/js/vendor/lunr.min.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery.sticky.js"></script>
	<script type="text/javascript" src="/js/wiki.js"></script>
	<script type="text/javascript" charset="utf-8">
	  
	  $(function () {
	    // Sticky search bar
	    $('#search_form').sticky({topSpacing:0}).bind('sticky:on', function () {
	      $('body').addClass('sticky_search')
	    }).bind('sticky:off', function () {
	      $('body').removeClass('sticky_search')
	    })
	    // Lunr search
	    $('#search').booticDocSearch('/index.json')
	    
	    // Fancybox
	    $(".js_fancy_box_vimeo").live('click', function() {
      		$.fancybox({
      			'padding'		: 0,
      			'autoScale'		: false,
      			'transitionIn'	: 'none',
      			'transitionOut'	: 'none',
      			'title'			: this.title,
      			'width'			: 701,
      			'height'		: 438,
      			'href'			: this.href.replace(new RegExp("([0-9])","i"),'moogaloop.swf?clip_id=$1'),
      			'type'			: 'swf'
      		});

      		return false;
      	});
      	$('a[rel=fancybox]').fancybox();
      	
        // $('#sidebar .nested_menu a').pjax('#content');
        
	  });
	</script>
	<!-- /Fancy box -->

	<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3666433-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
